.profile-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.profile-info div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* 수직 정렬로 변경 */
    align-items: flex-start; /* 좌측 정렬 */
}

.profile-info strong {
    margin-bottom: 5px; /* 제목과 입력 필드 간격 조정 */
    font-weight: bold;
    color: #555;
}

.profile-info input {
    border: 1px solid #0056b3;
    width: 100%; /* 입력 필드나 텍스트를 컨테이너의 전체 너비로 확장 */
    padding: 8px;
    font-size: 14px;
}
.profile-info textarea,
.profile-info span {
    width: 100%; /* 입력 필드나 텍스트를 컨테이너의 전체 너비로 확장 */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-info input:focus,
.profile-info textarea:focus {
    border-color: #007bff;
    outline: none;
}

.profile-info img {
    align-self: center; /* 프로필 이미지는 중앙 정렬 */
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.profile-info img {
    border-radius: 5px;
    width: 400px;
    border: 1px solid #ddd;
}

.profile-container > button {
    margin: 10px 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-container button:hover {
    background-color: #98949452;
}

button + button {
    background-color: #fff;
}

button + button:hover {
    background-color: #c82333;
}
.profile-info button {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background-color: #98949452;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-info button:hover {
    background-color: rgba(30, 30, 30, 0.975);
    color: #fff;
}

.surveyanchor {
    display: inline-block; /* 확대 효과를 위해 inline-block 설정 */
    text-decoration: none; /* 기본 밑줄 제거 */
    transition: transform 0.3s ease;
}
.surveyanchor:hover {
    transform: scale(1.07); /* 약간 확대 */
}
.myfundlist {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 1px;
}
.profileupdate {
    margin-left: auto; /* 부모의 왼쪽 여백을 자동으로 설정해 오른쪽으로 밀어냄 */
}
