/* 전체 페이지 레이아웃 설정 */
body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#allbox{
    height: 100%;
}
.membershipBox {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.membershipBox h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.form-check-label {
    font-weight: normal;
    color: #555;
    margin-left: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.spinner-border {
    margin-left: 10px;
}

.textBox {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}

.textBox p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    max-height: 500px;
    overflow: scroll;
    white-space: pre-wrap;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-check-input {
    margin-right: 10px;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    text-align: center;
}



.mb-3.file-input-container > .form-control {
    position: relative;
}
.mb-3.file-input-container > .form-control[type="file"]::file-selector-button {
    position: absolute;
    right: 10px; /* 오른쪽 여백 */
    top: 50%;
    transform: translateY(-50%);
    background-color: #250abf;
    color: #ffffff;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}